@import url(https://fonts.googleapis.com/css?family=Mona+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    font: inherit;
}

:root {
    --font-primary: 'Mona Sans';
}

body {

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--font-primary);

    position: relative;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.taskify-header {

    width: 40rem;
    border: 1px solid red;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    margin-top: 5rem;
}

.taskify-header .header-title {
    font-size: 1.5rem;
    font-weight: 600;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.taskify-wrapper {
    width: 40rem;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    pad: 1rem;

    margin-top: 2rem;
}

.task {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    border: 1px solid black;
}

.task .task-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.task-status {
    font-size: .8rem;

    border: 1px solid black;
    border-radius: 22px;
    padding: .2rem 1rem;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.taskify-create {

    position: absolute;

    width: 40rem;

    bottom: 3rem;
    left: 50%;
    transform: translate(-50%);

    padding: 1rem;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.taskify-create input {
    padding: .4rem;
    font-size: .9rem;

    border: 1px solid black;
    outline: none;
}

.taskify-create .create-task{
    padding: .2rem .6rem;
    font-size: 0.9rem;
    font-weight: 500;
}